@import "tailwindcss";

@theme {
  --color-bg-base: var(--bg-base);
  --color-bg-surface: var(--bg-surface);
  --color-bg-panel: var(--bg-panel);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-main: var(--border-main);
  --color-brand-primary: var(--brand-primary);
  --color-brand-accent: var(--brand-accent);
}

:root {
  /* LIGHT THEME (Default) */
  --bg-base: #F5F5F5;
  --bg-surface: #FFFFFF;
  --bg-panel: #EAEAEA;
  --border-main: #D3D6DA;
  --text-main: #303841;
  --text-muted: #616D7A;
  
  --brand-primary: #76ABAE;
  --brand-accent: #FF5722;
}

.dark {
  /* DARK THEME */
  --bg-base: #303841;
  --bg-surface: #242930;
  --bg-panel: #1A1D22;
  --border-main: #424B57;
  --text-main: #F5F5F5;
  --text-muted: #9AA5B1;
  
  --brand-primary: #76ABAE;
  --brand-accent: #FF5722;
}

@layer base {
  body {
    @apply bg-bg-base text-text-main antialiased transition-colors duration-200;
  }
}
